/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,700&family=Open+Sans:ital,wght@0,300;0,500;0,700;0,800;1,800&family=Oswald:wght@300;400;500;700&display=swap');

/* Setup */
html, body {
  height: 100vh;
  min-height: 100vh;
}

body {
  margin: 0px;
  background-color: var(--background-clr);
}

:root {
  --background-dark: #0040d6;
  --background-light: #ffffff;
  --nav-light: #0040d6;
  --nav-dark: #15008a;
  --header-font: "Bellota Text";
  --default-font: "Open Sans";
}

@media (prefers-color-scheme: light) {
  :root {
    --background-clr: var(--background-light);
    --nav-clr: var(--nav-light);
    --txt-clr: black;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-clr: var(--background-dark);
    --nav-clr: var(--nav-dark);
    --txt-clr: white;
  }
}

/* Nav */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: horizontal;
  width: 100%;
  height: 60px;
  font-family: var(--default-font), monospace;
  background-color: var(--nav-clr);
}

/* nav:nth-child(odd) {
  background-color: #000085;
}

nav:nth-child(even) {
  background-color: #6666ff;
} */

div.nav {
  padding: 20px;
}

div.nav-logo {
  flex-direction: horizontal;
  width: 45px;
  max-width: 45px;
  height: 45px;
  max-height: 45px;
}

img.nav-logo {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

a.nav {
  display: flex;
  top: 50%;
  bottom: 50%;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

/* Text Defaults */
h1, h2, h3 {
  font-family: var(--header-font), sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--txt-clr);
}

h4, h5, h6 {
  font-family: var(--default-font), sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--txt-clr);
}

p, label {
  font-family: var(--default-font), monospace;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--txt-clr);
}

a {
  color: deepskyblue;
  transition: 0.3s;
  font-family: var(--default-font);
}

a:hover {
  color: #009dd1;
  transition: 0.3s;
}

/* Misc Defaults */
button {
  width: 160px;
  height: 40px;
  background-color: white;
  font-family: var(--default-font),monospace;
  color: black;
  border: none;
  border-radius: 6px;
  font-size: 95%;
  transition: all 0.5s;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.5s;
}

input {
  border-radius: 7px;
  height: 32px;
  width: 135px;
  font-family: "Open Sans",monospace;
  outline: none;
  border: 1px solid #8f8f8f;
  padding: 5px;
  padding-left: 7px;
  margin: 5px 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
}

input.checkbox {
  width: auto;
  height: auto;
  border-radius: 100%;
}

/* Other */
.login {
  margin: 12px;
}

h2.login {
  margin-bottom: -7px;
}

h2.error {
  color: red;
  font-size: 15px;
  margin: -7px;
}

input.search {
  width: 35%;
  min-width: 230px;
  border-radius: 18px;
  padding: 13px;
  border: 1px solid var(--txt-clr);
}

.rememberMe {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: -3px;
  margin-bottom: -13px;
  font-size: 14px;
}

img.cacheType {
  width: auto;
  max-width: 50px;
  height: auto;
}

/* Other: Cache Page */
div.cache-container {
  display: flex;
  flex-direction: row;
}

div.cache-info {
  display: flexbox;
  width: 65%;
  margin-left: 20px;
}

div.info-header {
  display: flex;
  margin-left: 8px;
  margin-bottom: -17px;
}

div.cache-controls {
  display: flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35%;
}

div.log-cache {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80%;
  width: 50%;
  max-width: 250px;
  background-color: #7eb7ec;
  color: black;
  border-radius: 8px;
  padding: 5px;
  margin-top: 20px;
}

button.log-cache {
  width: 100%;
  height: 100%;
}

a.log-cache-1 {
  padding-top: 10px;
  width: 70%;
  max-width: 70%;
  height: 40px;
  min-height: 40px;
}

a.log-cache {
  padding-top: 6px;
  color: black;
}

a.log-cache:hover {
  opacity: 0.4;
}

/* Other: Cache Page: Logs */
div.log-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.log {
  width: 97%;
  min-height: 130px;
  border: 2.5px solid #a3a3a3;
  border-radius: 20px;
  /* padding: 5px; */
  margin-top: 5px;
  margin-bottom: 5px;
}

img.log {
  width: 30px;
  height: 30px;
  max-width: 30px;
  max-height: 30px;
  padding: 6px;
}

div.log-header {
  color: var(--txt-clr);
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #a3a3a3;
}

/* Other: Cache Page: Ratings */
div.rating-container {
  display: flex;
  color: white;
}

div.rating {
  width: 60px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #000085;
  color: white;
  border-radius: 1000px;
  margin-left: 8px;
}

img.rating {
  height: 80%;
  width: auto;
}

p.rating {
  font-size: 14px;
  color: white;
}

/* Configurations */
.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.font-default {
  font-family: var(--default-font);
}

.color-white {
  color: white;
}

.max-size {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
}

.flex-dead-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.no-decor {
  text-decoration: none;
  list-style: none;
}

.inline {
  display: inline;
}

/* Footer */
footer {
  font-family: var(--default-font), monospace;
  font-size: 12px;
  background-color: var(--nav-clr);
  /* position: sticky; */
  bottom: 0;
  /* width: 100%;
  max-width: 100%; */
  min-height: 20px;
  color: white;
  padding: 8px;
}

/* Mobile Layout */
@media screen and (max-width: 750px) {
  div.cache-container {flex-direction: column;}
  div.cache-info, div.cache-controls{width: 100%; margin-bottom: 20px;}
  div.cache-info {justify-content: center; text-align: center; margin-left: 0px;}
  div.rating-container {justify-content: center;}
  div.info-header {flex-direction: column; align-items: center;}
  img.cacheType {width: 75px; max-width: 75px; height: auto; margin-top: 20px;}
  div.log-cache {width: 100%; max-width: 90%;}
}