<!DOCTYPE html>
<html lang="en-US"> 
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WorldCache - Something Went Wrong On Our End</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
  <link rel="icon" href="{{ url_for('static', filename='imgs/icon.png') }}" type="image/png" />
  <meta name="author" content="DarkOutcast6">
  <meta name="description" content="A Geocaching Community">
  <meta name="keywords" content="geocaching, geocache, cache, world, find, treasure, hunt">
  <meta propety="og:image" content="{{ url_for('static', filename='imgs/icon.png') }}">
  <meta property="og:description" content="A Geocaching Community">
  <meta property="og:title" content="WorldCache">
</head>
        
<body>
<div class="center-align flex-dead-center flex-column max-size">
  <h1>405 - Something Went Wrong On Our End</h1>
  <h2>Something went wrong on our end</h2>
  {% if loggedIn %}
    <a href="/home">
      <button>Return Home</button>
    </a>
  {% elif not loggedIn %}
    <a href="/">
      <button>Return Home</button>
    </a>
  {% endif %}
</div>
  
</body>
</html>