{% extends 'default.html' %}

{% block title %}Home{% endblock %}
{% block head %}{% endblock %}

{% block content %}
<h1 class="center-align">About WorldCache</h1>
<h2 class="left-align">What is WorldCache?</h2>
<p class="left-align">Every heard of Geocaching? Geocaching is a outdoor, recreational treasure hunt, founded in 2000. Since then millions of caches are scatterted across the world, waiting for users to find them. WorldCache is a third party website that makes finding caches easier and more accesible for all.</p>
<h2 class="left-align">Who Created WorldCache?</h2>
<p class="left-align">WorldCache was created in 2023 by DarkOutcast6, otherwise known as "RedCoder".</p>
<h2 class="left-align">What are the Primary Differences Between Geocaching.com and WorldCache?</h2>
  <p class="left-align">WorldCache makes finding Geocaches <i>even easier!</i> With the reimagined, dynamic design, information is easier to find then ever! WorldCache also is a community for Geocaching. It allows you to meet other Geocachers and even find a cache or two together!</p>

{% endblock %}