{% extends 'default.html' %}

{% block title %}Home{% endblock %}
{% block head %}{% endblock %}

{% block content %}
<h1 class="center-align">WorldCache</h1>
<h2 class="left-align">What is <a href="index.html">WorldCache</a>?</h2>
<p class="left-align">Every heard of <a href="geocaching.com">Geocaching</a>? Geocaching is a outdoor, recreational treasure hunt, founded in 2000. Since then millions of caches are scatterted across the world, waiting for users to find them. <a href="index.html">WorldCache</a> is a third party website that makes finding caches easier and more accesible for all.</p>
<h2 class="left-align">Who Created <a href="index.html">WorldCache</a>?</h2>
<p class="left-align"><a href="index.html">WorldCache</a> was created in 2023 by <a href="austinf.me">DarkOutcast6</a>, otherwise known as "RedCoder".</p>

{% endblock %}