{% extends 'default-logged-out.html' %}

{% block title %}Login{% endblock %}
{% block head %}{% endblock %}

{% block content %}
  <h2 class="center-align login">Sign in to your account</h2>
  <form class="login center-align" method="post">
    <h2 class="error">{{ error }}</h2>
    <br>
    <input class="login" type="username" id="username" name="username" placeholder="Enter Username" required/>
    <br>
    <input class="login" type="password" id="password" name="password" placeholder="Enter Password" required/>
    <br>
    <div class="rememberMe">
      <input class="checkbox" type="checkbox" id="rememberMe" name="rememberMe"/>
      <label>Remember Me</label>
    </div>
    <br>
    <button class="login" type="submit">Sign In</button>
    <br>
    <a href="/blog/get-an-account">No Geocaching account? Learn how to get one!</a>
  </form>
{% endblock %}