<!DOCTYPE html>
<html lang="en-US"> 
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WorldCache - Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
  <link rel="icon" href="{{ url_for('static', filename='imgs/icon.png') }}" type="image/png" />
  <meta name="author" content="DarkOutcast6">
  <meta name="description" content="A Geocaching Community">
  <meta name="keywords" content="geocaching, geocache, cache, world, find, treasure, hunt">
  <meta propety="og:image" content="{{ url_for('static', filename='imgs/icon.png') }}">
  <meta property="og:description" content="A Geocaching Community">
  <meta property="og:title" content="WorldCache">
</head>

<body>
  {% if loggedIn %}
    <script>location.replace('/home')</script>
  {% endif %}
  
  <nav>
    <div class="nav-logo">
      <a href="/">
        <img class="nav-logo" src="{{ url_for('static', filename='imgs/logo.png') }}" alt="Logo" title="Logo">
      </a>
    </div>
      <div class="nav"><a class="nav" href="/">Home</a></div>
      <a href="/login"><button class="nav">Sign In</button></a>
  </nav>  
  
  <h2 class="center-align login">Sign in to your account</h2>
  <form class="login center-align" method="post">
    <h2 class="error">{{ error }}</h2>
    <br>
    <input class="login" type="username" id="username" name="username" placeholder="Enter Username" required/>
    <br>
    <input class="login" type="password" id="password" name="password" placeholder="Enter Password" required/>
    <br>
    <div class="rememberMe">
      <input class="checkbox" type="checkbox" id="rememberMe" name="rememberMe"/>
      <label>Remember Me</label>
    </div>
    <br>
    <button class="login" type="submit">Login</button>
    <br>
    <a href="/blog/get-an-account">No Geocaching account? Learn how to get one!</a>
  </form>
    
  <footer class="footer">© 2023 WorldCache. Not affiliated with Geocaching.com, Garmin or GroundSpeak in any way, form or matter.</footer>
</body>

</html>